#pokeContainer {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  padding-top: 50px;
}

.pokemon {
  border: 2px solid grey;
  text-align: center;
}

#buttonContainer {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}
